.container {
  width: 90%;
  margin: 0 auto;
}

img {
  object-fit: contain;
  width: 100%;
}

header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav button {
  text-decoration: none;
  height: 40px;
  border: transparent;
  background-color: #1f60c2;
  color: #fff;
  border-radius: 8px;
} */

nav button {
  background-color: #ffff;
  border: 2px solid transparent;
  color: #1f60c2;
  border-radius: 4px;
  height: 40px;
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav button:hover {
  border-color: #1f60c2;
  transform: scale(1.1);
}

.dropdown div {
  max-width: 60px;
  max-height: 60px;
}

.dropdown .submenu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.dropdown .submenu li {
  float: none;
}

.dropdown:hover .submenu {
  visibility: visible;
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.container_logo {
  max-width: 80px;
  max-height: 110px;
}

.container_arrow {
  border: 2px solid transparent;
  border-radius: 8px;
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container_arrow:hover {
  border-color: #1f60c2;
  transform: scale(1.1);
}

.question {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.question h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  background-color: #1f60c2;
  border-radius: 50px;
  border: 2px solid transparent;
  color: #ffff;
  transition: 0.3s;
  cursor: pointer;
}

.form_div:hover {
  background-color: #ffff;
  color: #1f60c2;
  border-color: #1f60c2;
}

.goBtn_div {
  display: flex;
  justify-content: flex-end;
}

.goBtn {
  width: 20%;
  height: 40px;
  font-size: 17px;
  background-color: #1f60c2;
  border-radius: 50px;
  border: 2px solid transparent;
  color: #ffff;
  transition: 0.3s;
  cursor: pointer;
}

.goBtn:hover {
  background-color: #ffff;
  color: #1f60c2;
  border-color: #1f60c2;
  transform: scale(1.1);
}
